<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />

	<link rel="stylesheet" href="{{ "assets/css/custom.css" | relative_url }}" />

	<link rel="stylesheet" href="{{ "assets/vendor/owlcarousel/assets/owl.carousel.min.css" | relative_url }}" />

	{% include metatags.html %}

</head>
