
    <!-- Facebook metatags -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://subspacesignal.com/assets/images/social/subspace-signal.png">
    <meta property="og:url" content="https://subspacesignal.com/">

    <!-- Twitter metatags -->
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://subspacesignal.com/assets/images/social/subspace-signal.png">
    <meta name="twitter:card" content="summary_large_image">