<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>

<script src="{{ "assets/vendor/owlcarousel/owl.carousel.min.js" | absolute_url }}"></script>

<script>
	$(document).ready(function(){
		$('.clients-slider').owlCarousel({
			loop: true,
			center: true,
			autoplay: true,
			autoplaySpeed: 500,
			nav: false,
			responsive:{
				0:{
					items: 1,
				},
				600:{
					items: 3,
				},
				1000:{
					items: 5,
				}
			}
		});
	});
</script>